/*global style*/
p{
    font-size: 16px;
}

/*adminlogin*/
div.modal{
    color: black;
    font-family: 'Microsoft JhengHei';
}

/*Hint*/
div.hint{
    border-radius: 8px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 10px 30px;
    width: 75%;
}
/*when hovor on the this textArea*/
div.hint:hover{
    border: 5px solid gray;
}

div.hint p{
    font-size: 24px;
    font-style: oblique;
}

/**
 *CustomTable
 *the main style for a series.
 * 一般來說，你可以用滑鼠移過去來查看css樣式，它們會被套用在哪個情況底下。
 */
table.customTable{
    font-family: "微軟正黑體";
    width: 100%;
}

table.customTable tr th{
    padding: 15px 0;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

table.customTable tr td{
    text-align: left;
    font-size: 18px;
    padding: 20px 5px;
}

table.customTable input[type=text]{
    border-radius: 5px;
    font-size: 21px;
    width: 50%;
    padding: 15px;
}
/*focus:display another color when click here*/
table.customTable input[type=text]:focus{
    width: 80%;
    height: 80%;
}

/*password field*/
table.customTable input.pw{
    border-radius: 5px;
    font-size: 22px;
    width: 60%;
    padding: 15px 0;
}

table.customTable input.pw:focus{
    border: 3px solid grey;
    width: 80%;
    height: 80%;
}

table.customTable input[class~=score]{
    width: 100px;
}

table.customTable input[class~=score]:focus{
    width: 200px;
}

table.customTable select{
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
}

table.customTable input[type=file]{
    border-radius: 5px;
    width: 50%;
}

button.btn.btn-custom{
    font-size: 18px;
    border-radius: 2px;
}

/*Reg Table*/
table.customTable.regTable{
    border: none;
    margin: 0 auto 0;
}

table.customTable.regTable tr th{
    background-color: #BD63FF;
    color: white;
    border-radius: 10px;
    padding: 40px 0;
}

/*做出來會類似"斑馬紋"的效果*/
table.customTable.regTable tr:nth-child(even) td input[type=text]:hover{
    background-color: #F5F5F5;
    border: 2px solid #E8E8E8;
}

table.customTable.regTable tr:nth-child(odd) td{
    background-color: #FAF2FF;
}

table.customTable.regTable tr:nth-child(odd) td input[type=text]{
    background-color: #F5E8FF;
}

table.customTable.regTable tr:nth-child(odd) td input[type=text]:hover{
    background-color: #F5E8FF;
    border: 2px solid #EDD4FF;
}

/*Query Table*/
table.customTable.query{
    background-color: #f8f8f8;
    width: 75%;
    margin: 0 auto 0;
}

table.customTable.query tr th{
    background-color: #9c3765;
    color: white;
    margin: 0 auto 0;
    font-size: 32px;
    border-radius: 10px;
}

table.customTable.query tr td{
    border-bottom: 1px solid #9d426b;
    font-size: 26px;
}

table.customTable.query tr:hover td{
    border-bottom: 3px solid #9d426b;
    font-size: 26px;
}

table.customTable.query tr td input[type=text]{
    background-color: #fffdfd;
}

/*reviewDoc Table*/
table.customTable.reviewDoc{
    background-color:white;
    margin: 0 auto 0;
    font-family: 'Microsoft JhengHei';
}

table.customTable.reviewDoc tr th{
    color: white;
    background-color: midnightblue;
    padding: 20px 0;
    border-radius: 10px;
}

table.customTable.reviewDoc tr td{
    font-size: 25px;
    border-bottom: 1px solid midnightblue;
}

table.customTable.reviewDoc tr:hover td{
    background-color: ghostwhite;
    border-bottom: 3px solid midnightblue;
}

/*固定reviewDoc內每一個td的寬度為34%*/
table.customTable.reviewDoc tr.reviewRow td{
    width:34%;
}

/*adminTable*/
table.customTable.adminTable{
    border-radius: 9px;
}

table.customTable.adminTable tr th{
    background-color: #7b7b7b;
    color: white;
    border-radius: 8px;
}

table.customTable.adminTable tr td{
    font-size: 24px;
    border-bottom: 1px solid #d0d0d0;
    padding: 20px 10px;
}

table.customTable.adminTable tr td:hover{
    background-color: #f0f0f0;
    border-bottom: 3px solid #d0d0d0;
    border-radius: 9px;
}

/*For adminCenter only, which inherited from adminCenter*/
table.customTable.adminTable.adminCenter{
    margin: 30px 0;
}

table.customTable.adminTable.adminCenter tr th{
    padding: 30px 5px;
    font-size: 34px;
}

table.customTable.adminTable.adminCenter tr td{
    padding: 50px 5px;
    font-size: 30px;
    width: 34%;
    text-align: center;
    vertical-align: middle;
}

/*adminApply Table*/
table.customTable.adminApply{
    background-color:white;
    margin: 0 auto 0;
    font-family: 'Microsoft JhengHei';
}

table.customTable.adminApply tr th{
    color: white;
    background-color: #9d426b;
    padding: 20px 0;
    border-radius: 10px;
}

table.customTable.adminApply tr td{
    font-size: 25px;
    border-bottom: 1px solid #9d426b;
}

table.customTable.adminApply tr:hover td{
    background-color: ghostwhite;
    border-bottom: 3px solid #9d426b;
}


/*固定adminApply內每一個td的寬度*/
table.customTable.adminApply tr.adminApplyRow td{
    width:17%;
}
