/*all*/
p{
    font-size: 16px;
}

/*customTable style*/
table.customTable{
    font-family: "微軟正黑體";
    width: 100%;
}

table.customTable tr th{
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

table.customTable tr td{
    text-align: left;
    font-size: 18px;
    padding: 20px 5px;
}

table.customTable input[type=text]{
    border-radius: 5px;
    font-size: 21px;
    width: 50%;
    padding: 15px;
}

table.customTable input[type=text]:focus{
    width: 80%;
    height: 80%;
}

/*password field*/
table.customTable input.pw{
    border-radius: 5px;
    font-size: 21px;
    width: 50%;
    padding: 5px 0;
}

table.customTable input.pw:focus{
    border: 1px solid gray;
    width: 80%;
    height: 80%;
}

table.customTable input[class~=score]{
    width: 100px;
}

table.customTable input[class~=score]:focus{
    width: 200px;
}

table.customTable select{
    border-radius: 5px;
    font-size: 18px;
    padding: 8px;
}

table.customTable input[type=file]{
    border-radius: 5px;
    width: 50%;
}

button.btn.btn-custom{
    font-size: 18px;
    border-radius: 2px;
}

/*reg table*/
table.customTable.regTable{
    border: none;
    margin: 0 auto 0;
}

table.customTable.regTable tr th{
    background-color: #BD63FF;
    color: white;
    border-radius: 10px;
    padding: 40px 0;
}

table.customTable.regTable tr:nth-child(even) td input[type=text]:hover{
    background-color: #F5F5F5;
    border: 2px solid #E8E8E8;
}

table.customTable.regTable tr:nth-child(odd) td{
    background-color: #FAF2FF;
}

table.customTable.regTable tr:nth-child(odd) td input[type=text]{
    background-color: #F5E8FF;
}

table.customTable.regTable tr:nth-child(odd) td input[type=text]:hover{
    background-color: #F5E8FF;
    border: 2px solid #EDD4FF;
}

/*query table*/
table.customTable.query{
    background-color: #f8f8f8;
    width: 75%;
    margin: 0 auto 0;
}

table.customTable.query tr th{
    background-color: #9c3765;
    color: white;
    margin: 0 auto 0;
    font-size: 32px;
    border-radius: 10px;
}

table.customTable.query tr td{
    border-bottom: 1px solid #9d426b;
    font-size: 26px;
}

table.customTable.query tr:hover td{
    border-bottom: 3px solid #9d426b;
    font-size: 26px;
}

table.customTable.query tr td input[type=text]{
    background-color: #fffdfd;
}

/*reviewDoc*/
table.customTable.reviewDoc{
    margin: 0 auto 0;
}

table.customTable.reviewDoc tr td{
    width:33%;
}